@using Web_Programming_Project.Data.Enum;
@model Web_Programming_Project.Models.Brick

@{
    ViewData["Title"] = "Create a brick";
}

<h1>Create <small class="text-muted h5 fst-italic">Brick</small></h1>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mt-2">
                <input asp-for="BrickName" class="form-control" />
                <label asp-for="BrickName" class="control-label"></label>
                <span asp-validation-for="BrickName" class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <select asp-for="BrickColorId" class="form-select">
                @foreach (BrickColor brickColor in ViewBag.BrickColors)
                {
                    @if(ViewBag.BrickColorId == brickColor.Id)
                    {
                        <option selected value="@brickColor.Id" style="color:rgba(@(brickColor.BrickColorRed),@(brickColor.BrickColorGreen),@(brickColor.BrickColorBlue),1)">
                            █ @brickColor.BrickColorName
                        </option>
                    }
                    else
                    {
                        <option value="@brickColor.Id" style="color:rgba(@(brickColor.BrickColorRed),@(brickColor.BrickColorGreen),@(brickColor.BrickColorBlue),1) !important">
                            █ @brickColor.BrickColorName
                        </option>
                    }
                }
                </select>
                <label asp-for="BrickColorId" class="control-label"></label>
            </div>
            <div class="form-floating mt-2">
                <select asp-for="BrickSize" class="form-select" asp-items="Html.GetEnumSelectList<BrickSizeEnum>()"></select>
                <label asp-for="BrickSize" class="control-label"></label>
                <span asp-validation-for="BrickSize" class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input asp-for="BrickPrice" min="0.01" step="0.01" type="number" class="form-control" />
                <label asp-for="BrickPrice" class="control-label"></label>
                <span asp-validation-for="BrickPrice" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index">Back to List</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
