@using Web_Programming_Project.Data.Enum;
@model IEnumerable<Web_Programming_Project.Models.Theme>

@{
    ViewData["Title"] = "Themes";
}

<h1>Themes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="post" asp-action="Index">
    <div class="input-group mb-3">
        <input type="text" name="themeSearch" value="@ViewData["themeSearch"]" class="form-control" placeholder="Theme name" aria-label="Theme name" aria-describedby="button-submit-search">
        @if (ViewData["themeAgeRange"] is null)
        {
            <select class="form-select" name="themeAgeRange" id="inputGroupSelect01" asp-items="Html.GetEnumSelectList<AgeCategoryEnum>().ToList()">
                <option value="-1" selected>Age range</option>
            </select>
        }
        else
        {
            <select class="form-select" name="themeAgeRange" id="inputGroupSelect01">
                @if ("-1".Equals(ViewData["themeAgeRange"]))
                {
                    <option value="-1" selected>Age range</option>
                }
                else
                {
                    <option value="-1">Age range</option>
                }
                @foreach (SelectListItem item in Html.GetEnumSelectList<AgeCategoryEnum>())
                {
                    @if (item.Value.Equals(ViewData["themeAgeRange"]))
                    {
                        <option value="@(item.Value)" selected>@(item.Text)</option>
                    }
                    else
                    {
                        <option value="@(item.Value)">@(item.Text)</option>
                    }
                }
            </select>
        }

        <button class="btn btn-outline-secondary" type="submit" id="button-submit-search">Search</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThemeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThemeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThemeImgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThemeAgeCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ThemeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThemeDescription)
            </td>
            <td>
                <img src="@("~/uploads/images/Themes/"+item.ThemeImgName)" asp-append-version="true" width="150px" height="100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThemeAgeCategory)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
