@model IEnumerable<Web_Programming_Project.Models.Theme>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThemeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThemeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThemeImgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThemeAgeCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ThemeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThemeDescription)
            </td>
            <td>
                <img src="@("~/uploads/images/Themes/"+item.ThemeImgName)" asp-append-version="true" width="150px" height="100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThemeAgeCategory)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
