@using Web_Programming_Project.Data.Enum;
@model Web_Programming_Project.Models.Box

@{
    ViewData["Title"] = "Details " + Model.BoxName;
}

<div class="text-center mb-4">
    <h1>@(Model.BoxName)</h1>
    <img src="@("~/uploads/images/Boxes/"+Model.BoxImgName)" asp-append-version="true" class="render-img mt-2 mb-4" alt="...">
    <h5 class="text-muted fst-italic">
        <small class="me-4"><i class="fa-solid fa-list"></i> @Html.DisplayFor(model => model.BoxTheme.ThemeName)</small>
        <small class="ms-4"><i class="fa-solid fa-cake-candles"></i> @Html.DisplayFor(model => model.BoxAgeCategory)</small>
    </h5>
</div>

<div>
    <div class="row">
        <div class="col-7">
            <h5>@Html.DisplayNameFor(model => model.BoxDescription)</h5>
            <hr/>
            <p>@Html.DisplayFor(model => model.BoxDescription)</p>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
            <div class="card list-bricks-overflow overflow-hidden">
                <div class="card-header text-dark">
                    <h5 class="float-start">List of bricks</h5>
                    <div class="badge rounded-pill bg-lego text-dark float-end">
                        <span>@string.Format("{0:0.00}",ViewData["totalPrice"]) €</span>
                    </div>
                    <input class="visually-hidden" name="boxPrice" type="number" value="0">
                </div>
                <div class="card-body overflow-auto p-3">
                    <ul class="list-group">
                        @if (Model.BoxBricksInBox.Count == 0)
                        {
                            <li class="list-group-item">No bricks</li>
                        }
                        else
                        {
                            @foreach (BrickInBox pack in Model.BoxBricksInBox)
                            {
                                <li class="list-group-item" data-bs-toggle="tooltip" data-bs-html="true" title="<b>@(pack.BrickInBoxBrick.BrickName)</b><br/><em>@(pack.BrickInBoxBrick.BrickSize.GetDisplayName())</em><br/><em>@string.Format("{0:0.00}", pack.BrickInBoxBrick.BrickPrice) EUR / Brick</em>"><i style='color:rgba(@(pack.BrickInBoxBrick.BrickColorObj.BrickColorRed),@(pack.BrickInBoxBrick.BrickColorObj.BrickColorGreen),@(pack.BrickInBoxBrick.BrickColorObj.BrickColorBlue),@(pack.BrickInBoxBrick.BrickColorObj.BrickColorAlpha))' class='fa-solid fa-stop me-2'></i> @(pack.BrickInBoxBrick.BrickName) <span class="badge bg-lego text-dark float-end">@(pack.BrickInBoxQuantity)</span></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="badge bg-warning text-dark" asp-action="Edit" asp-route-id="@Model?.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
    }
    <a class="badge bg-primary text-light" asp-action="Index"><i class="fa-solid fa-list"></i> Back to List</a>
</div>
