@using Web_Programming_Project.Data.Enum;
@model Web_Programming_Project.Models.Box

@{
    ViewData["Title"] = "Details " + Model.BoxName;
}

<div class="text-center mb-4">
    <h1 id="boxName@(Model.Id)">@(Model.BoxName)</h1>
    <img id="boxImg@(Model.Id)" src="@("~/uploads/images/Boxes/"+Model.BoxImgName)" asp-append-version="true" class="render-img mt-2 mb-4" alt="...">
    <h5 class="text-muted fst-italic">
        <small class="me-4" id="boxThemeName@(Model.Id)"><i class="fa-solid fa-list"></i> @Html.DisplayFor(model => model.BoxTheme.ThemeName)</small>
        <small class="ms-4" id="boxAgeCategory@(Model.Id)"><i class="fa-solid fa-cake-candles"></i> @Html.DisplayFor(model => model.BoxAgeCategory)</small>
    </h5>
</div>

<div>
    <div class="row">
        <div class="col-7">
            <h5>@Html.DisplayNameFor(model => model.BoxDescription)</h5>
            <hr/>
            <p>@Html.DisplayFor(model => model.BoxDescription)</p>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
            <div class="card list-bricks-overflow overflow-hidden">
                <div class="card-header text-dark">
                    <h5 class="float-start">List of bricks</h5>
                    <div class="badge rounded-pill bg-lego text-dark float-end">
                        <span>@string.Format("{0:0.00}",ViewData["totalPrice"]) €</span>
                    </div>
                    <input class="visually-hidden" name="boxPrice" type="number" value="0">
                </div>
                <div class="card-body overflow-auto p-3">
                    <ul class="list-group">
                        @if (Model.BoxBricksInBox.Count == 0)
                        {
                            <li class="list-group-item">No bricks</li>
                        }
                        else
                        {
                            @foreach (BrickInBox pack in Model.BoxBricksInBox)
                            {
                                <li class="list-group-item" data-bs-toggle="tooltip" data-bs-html="true" title="<b>@(pack.BrickInBoxBrick.BrickName)</b><br/><em>@(pack.BrickInBoxBrick.BrickSize.GetDisplayName())</em><br/><em>@string.Format("{0:0.00}", pack.BrickInBoxBrick.BrickPrice) EUR / Brick</em>"><i style='color:rgba(@(pack.BrickInBoxBrick.BrickColorObj.BrickColorRed),@(pack.BrickInBoxBrick.BrickColorObj.BrickColorGreen),@(pack.BrickInBoxBrick.BrickColorObj.BrickColorBlue),@(pack.BrickInBoxBrick.BrickColorObj.BrickColorAlpha))' class='fa-solid fa-stop me-2'></i> @(pack.BrickInBoxBrick.BrickName) <span class="badge bg-lego text-dark float-end">@(pack.BrickInBoxQuantity)</span></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <button class="btn btn-sm btn-danger text-light" name="openModalDeleteBox" value="@Model.Id"><i class="fa-solid fa-trash"></i> Delete</button>
        <a class="btn btn-sm btn-warning text-dark" asp-action="Edit" asp-route-id="@Model?.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
    }
    <a class="btn btn-sm btn-primary text-light" asp-action="Index"><i class="fa-solid fa-list"></i> Back to List</a>
</div>

@if (User.Identity.IsAuthenticated)
{
    <!-- Delete Popup -->
    <!-- Modal -->
    <div class="modal fade" id="modalDeleteBox" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDeleteBoxLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDeleteBoxLabel">Delete a box</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure to delete this box ?
                    <br/>
                    <div class="card mt-3 h-100 text-center">
                        <img id="modalDeleteBoxImg" src="/uploads/images/Boxes/default.png" class="mx-auto card-img-top render-img mt-4" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" id="modalDeleteBoxName">Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted" id="modalDeleteBoxAgeCategory"></h6>
                            <p class="card-text" id="modalDeleteBoxThemeName"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" name="deleteBoxAction" value="-1" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @if (User.Identity.IsAuthenticated)
    {
        <script>
            var modalDeleteBoxObj = null;
            $('button[name="deleteBoxAction"]').click(function () {
                var boxId = $(this).val();

                /* Check for bad data */
                if (isNaN(boxId) || boxId == "") { return; }
                boxId = Number(boxId);
                if (boxId == -1) { return; }

                /* Ajax Request */
                $.ajax({
                    url: "/Boxes/DeleteAjaxConfirmed",
                    type: "POST",
                    data: {
                        id: boxId,
                        redirect: true
                    },
                    success: function (data) {
                        window.location.href = "/Boxes";
                    },
                    error: function (err) { /* TODO : add error notification */ }
                });
            });

            $('button[name="openModalDeleteBox"]').click(function () {
                var boxId = $(this).val();
                /* Check for bad data */
                if (isNaN(boxId) || boxId == "") { return; }
                boxId = Number(boxId);
                if (boxId == -1) { return; }

                if (modalDeleteBoxObj == null) {
                    modalDeleteBoxObj = new bootstrap.Modal(document.getElementById('modalDeleteBox'), {});
                }
                const boxInfo = {
                    id: boxId,
                    boxName: $(`#boxName${boxId}`).text(),
                    boxImg: $(`#boxImg${boxId}`).attr('src'),
                    boxAgeCategory: $(`#boxAgeCategory${boxId}`).html(),
                    boxThemeName: $(`#boxThemeName${boxId}`).text()
                }

                /* Fill the informations and show it */
                $("#modalDeleteBoxLabel").text(`Delete ${boxInfo['boxName']}`);
                $("#modalDeleteBoxName").text(boxInfo['boxName']);
                $("#modalDeleteBoxAgeCategory").html(boxInfo['boxAgeCategory']);
                $("#modalDeleteBoxThemeName").text(boxInfo['boxThemeName']);
                $("#modalDeleteBoxImg").attr('src', boxInfo['boxImg']);
                $('button[name="deleteBoxAction"]').val(boxId);
                modalDeleteBoxObj.show();
            });
        </script>
    }
}