@using Web_Programming_Project.Data.Enum;
@model IEnumerable<Web_Programming_Project.Models.Box>

@{
    ViewData["Title"] = "Boxes";
}

<h1>Boxes</h1>
<div class="input-group mb-3">
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create" class="btn btn-success rounded-end me-4"><i class="fa-solid fa-plus"></i> Create box</a>
    }
    <input type="text" name="boxSearch" value="@ViewData["boxSearch"]" class="form-control rounded-start" placeholder="Search box name">
    @if (ViewData["boxThemeId"] is null)
    {
        <select class="form-select" name="boxThemeId">
            <option value="-1" selected>Select a theme</option>
            @foreach (Theme item in ViewBag.Themes)
            {
                <option value="@(item.Id)">@(item.ThemeName)</option>
            }
        </select>
    }
    else
    {
        <select class="form-select" name="boxThemeId">
            @if ("-1".Equals(ViewData["boxThemeId"]))
            {
                <option value="-1" selected>Select a theme</option>
            }
            else
            {
                <option value="-1">Select a theme</option>
            }
            @foreach (Theme item in ViewBag.Themes)
            {
                @if (item.Id.Equals(ViewData["boxThemeId"]))
                {
                    <option value="@(item.Id)" selected>@(item.ThemeName)</option>
                }
                else
                {
                    <option value="@(item.Id)">@(item.ThemeName)</option>
                }
            }
        </select>
    }

    @if (ViewData["boxAgeRange"] is null)
    {
        <select class="form-select rounded-end" name="boxAgeRange" asp-items="Html.GetEnumSelectList<AgeCategoryEnum>().ToList()">
            <option value="0" selected>Age range</option>
        </select>
    }
    else
    {
        <select class="form-select rounded-end" name="boxAgeRange">
            @if ("0".Equals(ViewData["boxAgeRange"]))
            {
                <option value="0" selected>Age range</option>
            }
            else
            {
                <option value="0">Age range</option>
            }
            @foreach (SelectListItem item in Html.GetEnumSelectList<AgeCategoryEnum>())
            {
                @if (item.Value.Equals(ViewData["boxAgeRange"]))
                {
                    <option value="@(item.Value)" selected>@(item.Text)</option>
                }
                else
                {
                    <option value="@(item.Value)">@(item.Text)</option>
                }
            }
        </select>
    }
    <button name="prevBoxSort" value="@ViewData["prevBoxSort"]" class="btn btn-primary rounded ms-4"><i id="prevBoxSortIcon" class="fa-solid fa-sort-alpha-@ViewData["prevBoxSort"]"></i></button>
</div>
<div class="row row-cols-1 row-cols-md-4" id="list-boxes">
    <partial name="_BoxesCard" model="Model"/>
</div>

@if (User.Identity.IsAuthenticated)
{
    <!-- Delete Popup -->
    <!-- Modal -->
    <div class="modal fade" id="modalDeleteBox" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDeleteBoxLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDeleteBoxLabel">Delete a box</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure to delete this box ?
                    <br/>
                    <div class="card mt-3 h-100 text-center">
                        <img id="modalDeleteBoxImg" src="/uploads/images/Boxes/default.png" class="mx-auto card-img-top render-img mt-4" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" id="modalDeleteBoxName">Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted" id="modalDeleteBoxAgeCategory"></h6>
                            <p class="card-text" id="modalDeleteBoxThemeName"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" name="deleteBoxAction" value="-1" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
<script>
    $('select[name="boxAgeRange"]').change(function() { onSearchUpdate(); });
    $('select[name="boxThemeId"]').change(function() { onSearchUpdate(); });
    $('input[name="boxSearch"]').on("input", function() { onSearchUpdate(); });
    $('button[name="prevBoxSort"]').click(function() { 
        /* Switch the state of the button */
        if ($('#prevBoxSortIcon').hasClass('fa-sort-alpha-down')) {
            $('#prevBoxSortIcon').removeClass('fa-sort-alpha-down').addClass('fa-sort-alpha-up');
            $(this).val("up");
        } else {
            $('#prevBoxSortIcon').removeClass('fa-sort-alpha-up').addClass('fa-sort-alpha-down');
            $(this).val("down");
        }
        onSearchUpdate();
    });

    function onSearchUpdate() {
        /* Data in the input */
        var dataBoxSearch = $('input[name="boxSearch"]').val();
        var dataBoxAgeRange = $('select[name="boxAgeRange"]').val();
        var dataBoxThemeId = $('select[name="boxThemeId"]').val();
        var dataPrevBoxSort = $('button[name="prevBoxSort"]').val();
        const dataSearch = {
            boxSearch: dataBoxSearch,
            boxAgeRange: dataBoxAgeRange,
            boxThemeId: dataBoxThemeId,
            prevBoxSort: dataPrevBoxSort
        };

        /* Ajax Request */
        $.ajax({
            url: "/Boxes/Search",
            type: "GET",
            data: dataSearch,
            success : function (data) {
                $("#list-boxes").html(data);
                if (typeof reload_evh_delete === 'function'){
                    reload_evh_delete();
                }
            },
            error : function (err) {
                $("#list-theme").html(`
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Ooopppss !</h4>
                        <p>Error with the server... Please try again later.</p>
                    </div>
                `);
                if (typeof reload_evh_delete === 'function'){
                    reload_evh_delete();
                }
            }
        });
    }
</script>
    @if (User.Identity.IsAuthenticated)
    {
        <script>
            var modalDeleteBoxObj = null;

            function reload_evh_delete() {
                $('button[name="deleteBoxAction"]').click(function () {
                    var boxId = $(this).val();

                    /* Check for bad data */
                    if (isNaN(boxId) || boxId == "") { return; }
                    boxId = Number(boxId);
                    if (boxId == -1) { return; }

                    /* Ajax Request */
                    $.ajax({
                        url: "/Boxes/DeleteAjaxConfirmed",
                        type: "POST",
                        data: {
                            id: boxId
                        },
                        success: function (data) {
                            $(`#boxCard${boxId}`).remove();
                            if ($.trim($("#list-boxes").html()) == "") {
                                $("#list-boxes").html(`
                                        <div class="alert alert-danger col-12 col-md-12" role="alert">
                                        <h4 class="alert-heading">Ooopppss !</h4>
                                        <p>No data exist in the database</p>
                                        </div>
                                        `);
                            }
                        },
                        error: function (err) {
                            $(`#boxCard${boxId}`).remove();
                            if ($.trim($("#list-boxes").html()) == "") {
                                $("#list-boxes").html(`
                                        <div class="alert alert-danger col-12 col-md-12" role="alert">
                                        <h4 class="alert-heading">Ooopppss !</h4>
                                        <p>No data exist in the database</p>
                                        </div>
                                        `);
                            }
                        }
                    });
                    $('button[name="deleteBoxAction"]').val(-1);
                    modalDeleteBoxObj.hide();
                });

                $('button[name="openModalDeleteBox"]').click(function () {
                    var boxId = $(this).val();
                    /* Check for bad data */
                    if (isNaN(boxId) || boxId == "") { return; }
                    boxId = Number(boxId);
                    if (boxId == -1) { return; }

                    if (modalDeleteBoxObj == null) {
                        modalDeleteBoxObj = new bootstrap.Modal(document.getElementById('modalDeleteBox'), {});
                    }
                    const boxInfo = {
                        id: boxId,
                        boxName: $(`#boxName${boxId}`).text(),
                        boxImg: $(`#boxImg${boxId}`).attr('src'),
                        boxAgeCategory: $(`#boxAgeCategory${boxId}`).html(),
                        boxThemeName: $(`#boxThemeName${boxId}`).text()
                    }

                    /* Fill the informations and show it */
                    $("#modalDeleteBoxLabel").text(`Delete ${boxInfo['boxName']}`);
                    $("#modalDeleteBoxName").text(boxInfo['boxName']);
                    $("#modalDeleteBoxAgeCategory").html(boxInfo['boxAgeCategory']);
                    $("#modalDeleteBoxThemeName").text(boxInfo['boxThemeName']);
                    $("#modalDeleteBoxImg").attr('src', boxInfo['boxImg']);
                    $('button[name="deleteBoxAction"]').val(boxId);
                    modalDeleteBoxObj.show();
                });
            }
        </script>
    }
}